body {
  font-family: "Montserrat", sans-serif;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #c0c0c0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Cabecera {
  background-color: #1c1f33;
  color: white;
  height: 122px;
  z-index: 9999;
}
#navCategoriasHeader {
  font-family: "Montserrat", sans-serif;
}
#navCategoriasHeader li {
  position: relative;
}
/*#navCategoriasHeader .nav-item .nav-link:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    top: 11px;
    right: -13px;
} */
.itemMenu {
  position: absolute;
  background-color: #1c1f33;
  z-index: 2;
  padding: 10px 0;
  top: 30px;
  margin-bottom: -33px;
  width: 280px;
  left: 17px;
}
/*#navCategoriasHeader li.active .itemMenu{
    left:-126px;
}*/
.itemMenuList li a {
  display: block;
  color: #ececec;
  font-size: 13px;
  font-weight: 400;
  padding: 7px 10px;
  position: relative;
  text-transform: none;
  border: 0 !important;
  background: transparent;
}
.contentLine {
  overflow: hidden;
}
.dolcelattoLogo {
  max-width: 237px;
  /* margin-right: 45px; */
  margin-top: px;
}
.dolcelattoLogoMobile {
  max-width: 190px;
  height: auto;
  margin-right: 53px;
}
.dolcelattoLogoMenuMobile {
  margin-left: 45%;
  margin-top: 10px;
  width: 70px;
  height: 70px;
}
.prevService,
.nextService {
  display: none !important;
}

.glider-slide {
  min-width: 115px !important;
}
.carousel__elementoSERVICIO .col-4 {
  text-align: right;
}
.carousel__elementoSERVICIO .row {
  align-items: flex-start;
}
section.Servicios {
  padding: 25px 0;
}
.carousel__elementoSERVICIO .card-body {
  padding: 0rem 1.25rem 0rem 1.25rem !important;
}
.carousel__elementoSERVICIO .card-body .card-title {
  margin-bottom: 0.75rem;
  margin: 0px 0px 7px 0px;
}
.filtersContent {
  text-align: left;
  padding: 15px 0 15px 16px;
  margin-bottom: 12px;
  background-color: #f8f8f9;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.btnProducts {
  background-color: #ffff;
  border: 1px solid #e7e8ea;
  padding: 5px 5px 5px 12px;
  margin: 0 5px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.listProducts .filtersModal {
  left: 0px;
}
.filtersModal .modal-header {
  -webkit-box-shadow: 0px 4px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 13px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 13px -5px rgba(0, 0, 0, 0.75);
}
.filtersModal .modal-title {
  margin: 0 auto;
  font-weight: bold;
}
.filtersModal .modal-body {
  padding: 0px;
}
.filtersModal .modal-header .close {
  padding: 0;
  margin: 0;
}
.filtersModal .form-check {
  border-bottom: 1px solid #ced4da;
  padding: 1.25rem;
}
.filtersModal .form-check-input {
  position: static;
  float: right;
}
.filtersModal label.form-check-label {
  font-weight: 600;
  width: 90%;
}
.filtersModal .btn {
  padding: 5px 19px;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
.filtersModal .btnCloseModalFilter {
  background-color: #fff;
  color: #3c5dc9;
  border: 2px solid #3c5dc9;
}
.filtersModal .btnAplayModalFilter {
  background-color: #3c5dc9;
}
#exampleModalLongTitle {
  font-family: "Montserrat", sans-serif;
}
#exampleModalLong
  div.modal-dialog
  div.modal-content
  div.modal-body
  form
  div.form-check
  label {
  font-family: "Montserrat", sans-serif;
}
#formDeFiltros div.form-check a label.form-check-label {
  font-family: "Montserrat", sans-serif;
}
.iconBtnFilter {
  margin-left: 10px;
}
.btnProducts:last-child {
  margin-right: 0px;
}
button.Close {
  background-color: white;
  border-radius: 50%;
  border: none;
}
#sliderMenuList a.nav-link {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat";
}
#sliderMenuList {
  padding: 0px;
  overflow: hidden;
}
#sliderMenuList .nav-link {
  padding: 10px 15px;
}
#sliderMenuList.nav-tabs .nav-link:focus,
#sliderMenuList.nav-tabs .nav-link:hover {
  border: 0;
  background-color: #f8f8f9;
  padding: 10px 15px;
  color: red;
}
span.textProducts {
  font-size: small;
  font-family: "Montserrat";
}
button#botonDanger {
  border-radius: 0%;
  background-color: #3c5dc9 !important;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.btn.finishBuy {
  background-color: #3c5dc9;
  border: 0px;
  padding: 5px 10px;
  font-size: 0.8rem;
}
button.lupa {
  border-color: white;
  border: 0;
  background-color: white;
  outline: none;
}
.lupa {
  position: absolute;
  bottom: 6px;
  right: 10px;
}
.LupaBuscador {
  height: 18px;
  width: 18px;
}
.LineaBuscador {
  background-color: #e3e3e6;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 43px;
}
#primeraLineaHeader {
  padding-top: 19px;
  padding-bottom: 10px;
  margin-bottom: 0px; /* 10px predeterminado */
}
div#mySidenav {
  background-color: rgb(0 0 0 / 37%);
  z-index: 9999;
}
div#headerSidenav {
  background-color: #1c1f33;
  position: relative;
}
div#headerSidenav p.tituloSidenav {
  color: white;
  font-size: 14pt;
  font-family: "Montserrat";
  font-weight: bold;
  text-decoration: none;
  margin: 0px;
  padding: 39px 8px 15px 8px;
  text-transform: uppercase;
}
div.bodySidenav a {
  font-size: 12pt;
  text-decoration: none;
}
div.bodySidenav a:hover {
  color: black;
}
div.bodySidenav a.tituloSideNav {
  font-size: 12pt;
  font-family: "Montserrat";
  font-weight: bold;
  color: #1c1f33;
  text-decoration: none;
}
div.bodySidenav button {
  font-size: 12pt;
  font-family: "Montserrat";
  color: red;
  font-weight: 500;
  text-decoration: none;
}
.btnMenuMobile {
  padding: 0.75rem 1.25rem;
}
div.ingresoUsuarioSideNav {
  font-size: 12pt;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 0.75rem 1.25rem;
}
div.ingresoUsuarioSideNav a {
  font-weight: bold;
  color: #1c1f33;
}
.actionsUsersHeader {
  margin-bottom: 20px;
}

div.panelUsuarioSideNav {
  transform: translate(35px, -30px);
  margin-bottom: -15px;
  font-family: "Montserrat", sans-serif;
}
div.bodySidenav img {
  padding-right: 10px;
}
button#marcas {
  color: #1c1f33;
  font-weight: bold;
  text-decoration: none;
  font-size: 14pt;
}

/* barra busqueda personalizada */
.search {
  margin-top: 10px;
  height: 35px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.search .search-input {
  width: 285px;
  caret-color: #536bf6;
  color: #1b1f33;
  transition: width 0.4s linear;
}
.search-input,
.search-input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1b1f33;
  font-size: 1em;
  font-weight: 500;
  vertical-align: middle;
  line-height: 1em;
  padding-bottom: 10px;
}
.search-input {
  font-size: 0.85em;
  color: #1b1f33;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  transition: width 0.4s linear;
}
.search:hover > .search-icon {
  color: #fff;
}
.search-icon {
  height: 25px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
a:link {
  text-decoration: none;
}
/* barra busqueda personalizada */

/* SideBar horizontal menu hamburguesa */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}
.bodySidenav {
  max-width: 300px;
  background-color: #fff;
}
.bodySidenav .accordion a {
  padding: 7px 0;
  text-decoration: none;
  color: #1c1f33 !important;
  font-size: 13pt;
  font-weight: 600;
  display: block;
  transition: 0.3s;
}
.accordion .ingresoUsuarioSideNav a,
.ingresoUsuarioSideNav img {
  display: inline-block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 33px;
  color: #fff;
  line-height: 30px;
  font-family: monospace;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* FIN SideBar horizontal menu hamburguesa*/

/* INICIO SideNav carrito de compras */

#botonCerrarSideNav {
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
span.descripcionBotonCerrar {
  font-family: "Montserrat";
}
#botonCerrarSideNav:hover {
  text-decoration: none;
}
span.precioProductoSideNavCarrito {
  color: red;
  font-weight: 700;
  font-family: "Montserrat";
  padding-left: 5px;
}
span.headerMipedido {
  float: left;
  margin-left: 10px;
  margin-top: 11px;
  font: 600 16pt "Montserrat";
}
#rightMenu {
  width: 25%;
  top: 0;
  right: 0px;
  z-index: 9999;
  display: none;
}
#rightMenu a {
  margin: 10px 0px 5px 0px;
}
#rightMenu a div.media div.media-body p {
  font-weight: 500;
}
.userActions {
  display: flex;
  width: 100%;
  align-items: flex-end;
  height: 50vh;
}
footer.footerSideNavCarritoDeCompras {
  padding: 10px;
  width: 100%;
  font-family: "Montserrat";
}
div.subtotalSideNav {
  overflow: hidden;
}
div.subtotalSideNav span.palabraSubtotal {
  float: left;
}
div.subtotalSideNav span.precioSubtotal {
  float: right;
  font-weight: bold;
}
.headerDeFooterSideNav button {
  padding: 0.5rem 0.6rem;
  font-size: 8pt;
  border-radius: 3px;
}
#rightMenu div.media div.media-body h5 {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.btn-outline-primary {
  border-color: #3c5dc9;
  color: #3c5dc9;
}
.btn-primary {
  background-color: #3c5dc9;
}
@media (min-width: 551px) and (max-width: 990px) {
  #rightMenu {
    width: 50%;
  }
}
@media (max-width: 550px) {
  #rightMenu {
    width: 75%;
  }
  #rightMenu div.media div.media-body h5 {
    font-size: 10pt;
    transform: translateY(10px);
  }
}

/* FIN SideNav carrito de compras */

h3.modal-title {
  text-align: center;
}
#ModalInicioSesion {
  border-radius: 5%;
}
.modal {
  top: 5%;
  right: 2%;
  bottom: 0%;
  left: 30%;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

/* CAROUSEL */
.carousel__contenedor {
  position: relative;
}
.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 15px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 100%;
  z-index: 10;
}
.carousel__anterior {
  left: -30px;
}
.carousel__siguiente {
  right: -30px;
}
.carousel__lista {
  overflow: hidden;
}
.carousel__listaSERVICIO {
  overflow: hidden;
}
.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}
.carousel__elemento img {
  margin: 0px 10px 0px 10px;
}
.glider-dots {
  display: none !important;
}
/* CAROUSEL */
div.EntreLinea {
  border-top: gray 1px solid;
}
img.imagenes {
  margin: 5px 10px 0px 10px;
  height: 18px;
}
img.ultimo-icono {
  margin: 5px 10px 0px 0px;
}
li.nav-item {
  margin: 0px;
  padding: 0;
}
li.nav-item span.linkNav {
  color: white;
}
a.nav-link {
  color: #fff;
  font-size: 0.8em;
  display: inline-flex;
  padding-left: 0;
  padding-right: 0;
}
a.nav-link:first-child {
  padding-left: 5px;
}
a.nav-link:last-child {
  padding-left: 5px;
}
.nav-item a:hover,
.footer-site a:hover,
.registro-login a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
a.registro {
  color: white;
}
.reg {
  margin-top: 0.5em;
}
.btn {
  padding: 0;
}
.btnCarBuy {
  position: relative;
}
.btnCarBuy .productosCount {
  position: absolute;
  background-color: #ff0025;
  text-align: center;
  font-size: 8pt;
  width: 20px;
  height: 20px;
  line-height: 15px;
  border-radius: 100%;
  top: -2px;
  right: 0px;
  color: #fff;
  border: 2px solid #1c1f33;
}
.input-group-append .btn,
.input-group-prepend .btn {
  position: relative;
  z-index: 1;
}
.registro-login {
  line-height: 2.2em;
  vertical-align: middle;
}
.registro-login a,
.registro-login span {
  padding: 0;
  color: #fff;
  font-size: 0.8em;
}

.form-control {
  border-radius: 0;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  color: #1b1f33;
  font-size: small;
}
.form-control::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #1b1f33;
  font-size: small;
  text-align: left;
  position: relative;
}

/* Icono menú hamburguesa  */
span.navbar-toggler-icon {
  background-image: url("./img/iconos/Icon\ feather-menu.png");
  width: 20px;
  height: 20px;
}
/* Icono menú hamburguesa  */

.Close {
  border: none;
  background-color: white;
}
button img.imagenes {
  outline: none !important;
}
button {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
div.GaleriaImagenes {
  justify-content: center;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
div.GaleriaImagenes img {
  /* border: gray 1px solid; */
  text-align: center;
  max-width: 100%;
  position: relative;
  background-color: #fff;
}
div.GaleriaImagenes h5.Titulo {
  text-decoration: none;
  color: #ff0025;
  text-align: left;
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
}

#descripcionServicios {
  font-size: 9pt;
}
b.enviosAlaPuerta {
  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
div.GaleriaImagenes p.Descripcion {
  color: black;
  text-decoration: none;
  text-align: left;
  margin-bottom: 5px;
}
div.GaleriaImagenes p.Precio {
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  font-size: medium;
  color: #1b1f33;
}
div.descuento {
  background-color: #1b1f33;
  color: white;
  padding: 4px 6px;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  /* -----------------------------------------------------------------------debuggear en mobile con queries -----------------------*/
  top: 18px;
  left: 18px;
  /* -----------------------------------------------------------------------debuggear en mobile con queries -----------------------*/
  width: 60px;
}
div.GaleriaImagenes div.addCarrito {
  background-image: url("./img/iconos/CarritoDeComprasAzul.svg");
  width: 24px;
  height: 23px;
  z-index: 1;
  position: absolute;
  bottom: 12px;
  right: 9px;
  opacity: 0;
  transition: all 0.3s;
}
div.GaleriaImagenes:hover div.addCarrito {
  opacity: 1;
}
div.GaleriaImagenes div.fav {
  background-image: url("./img/iconos/Icon_feather-heart.svg");
  width: 22px;
  height: 19px;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 9px;
  opacity: 0;
  transition: all 0.3s;
}
div.GaleriaImagenes:hover div.fav {
  opacity: 1;
}

div.GaleriaImagenes div.lupaHover {
  background-image: url("./img/iconos/lupaZoom.png");
  width: 64px;
  height: 64px;
  z-index: 1;
  position: absolute;
  top: 38%;
  right: 38%;
  opacity: 0;
  transition: all 0.3s;
}

.GaleriaImagenes:hover div.lupaHover {
  opacity: 1;
}

div.zoom {
  height: auto;
  position: relative;
}

a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
a.politica {
  color: white;
  text-decoration: underline;
}
h5 {
  margin-top: 30px;
  text-align: left;
}
h5.NuestrasTiendas {
  margin-top: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h5.Titulo {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}
h5.destacado {
  position: relative;
  z-index: 1;
  font-family: "Montserrat";
  margin-top: 30px;
  margin-bottom: 36px;
}
h5.NuestrasTiendas {
  position: relative;
  z-index: 1;
}
h5.destacado:before {
  border-top: 1px solid gainsboro;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: -50%;
  right: 0;
  bottom: 0;
  width: 200%;
  z-index: -1;
}
h5.NuestrasTiendas:before {
  border-top: 1px solid gainsboro;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: -50%;
  right: 0;
  bottom: 0;
  width: 200%;
  z-index: -1;
}
h5.destacado span {
  background: #fff;
  padding: 0px 34px 0px 34px;
  margin: 0px -34px 0px -34px;
}
h5.destacado a {
  color: #ff0025;
  font-size: 9pt;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 13px;
}
h5.NuestrasTiendas span.tiendas {
  background: #fff;
  padding: 0 15px;
  font-size: 1.25rem;
  font-weight: 600;
}
.media-body-card {
  margin: auto 0;
  width: 50%;
}
.media-body-card h5 {
  color: #ff0025;
  font-size: 0.7em;
}
.carUser .media {
  align-items: center;
}
/*.homedolcelatto .media{
    padding: 10px 72px 10px 10px;
} */
.menuBreadCrumb {
  background-color: white;
  font-size: 8pt;
  font-family: "Montserrat", sans-serif;
}
div.container ol.breadcrumb {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
h6.tePuedeInteresarTitulo {
  font-family: "Josefin Sans";
  font-size: 10pt;
}
.media-body-card h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #1b1f33;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 0.8em;
  padding: 6px 0;
}
div.nuestrasTiendas section.nuestrasTiendas {
  background-color: #f8f8f8;
  padding-bottom: 40px;
  padding-top: 10px;
}
section.tePuedeInteresar {
  padding-bottom: 20px;
  padding-top: 1px;
  width: 100%;
}
section.ServiciosDesktop {
  background-color: #f8f8f8;
}
section.ServiciosDesktop div.card {
  border: none;
}
section.Servicios,
section.tePuedeInteresar,
section.Servicios div.row {
  background-color: #f8f8f8;
}
section.Servicios .card {
  border: 0px;
}
h5.destacado span.interesar {
  background-color: #f8f8f8;
}
.footer-site {
  background-color: #1c1f33;
}
footer div.suscripcion div.container nav {
  background-color: #1c1f33;
}
.suscripcion {
  padding: 7px 0;
}
.informacion {
  padding: 7px 0 46px 0;
}
.informacion div.container div.row div.col ul li {
  font: normal 10pt/12pt "Montserrat", sans-serif;
  margin-bottom: 12px;
}
div.suscripcion {
  border-bottom: rgb(255 255 255 / 10%) 1px solid;
}
#botonDanger {
  height: 50%;
}
#botonDanger {
  height: 40px;
  background-color: #ff0025;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  padding: 8.5px 14px;
}
footer a {
  color: white;
}
#buscador::-webkit-input-placeholder {
  text-align: center;
}
div.derechos {
  border-top: rgb(255 255 255 / 10%) 1px solid;
}
li.list-group-item {
  background-color: #1c1f33;
  border: #1c1f33;
  padding: 0.5rem 0.5rem;
}
img.tarjetas {
  background-color: white;
  margin: 0px 6px 0px 6px;
  padding: 0px 4px 0px 4px;
  border-radius: 3px;
  height: 30px;
}
p.derechosReservados {
  font-size: 8pt;
  color: white;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}
span.compraSegura {
  margin-left: 6px;
  color: white;
  font-weight: 400;
  font-size: 0.5em;
}
table {
  justify-content: center;
  color: white;
  text-align: center;
}
#cuadro1,
#cuadro2 {
  margin: 10px 0px 10px 0px;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.12);
}
.tituloSubrayado {
  position: relative;
  font: bold 14px/25px "Montserrat";
  text-transform: uppercase;
  margin-bottom: 17px;
}
.tituloSubrayado:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  background-color: red;
  width: 13%;
  height: 3px;
  margin: 3px auto;
}
.redesSociales {
  margin: 0 auto;
}
ul.nav {
  padding-left: 10px;
}
.btn-solido-rojo {
  background-color: #3c5dc9;
  border-color: #3c5dc9;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}
.btn-borde-rojo {
  background-color: white;
  color: #3c5dc9;
  border: 2px solid #3c5dc9;
}
.btn {
  font-size: 0.6em;
  line-height: 2.2em;
  font-weight: 800;
}
.flex-50 {
  flex: 50%;
}
.btn-card {
  font-weight: 500;
  width: 80px;
  padding: 3px;
}
/* Efecto desplazarse hacia arriba de todo */
.ir-arriba {
  display: none;
  padding: 20px;
  background: #024959;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* Efecto desplazarse hacia arriba de todo */

/* efecto zoom */

.formSuscriptions {
  max-width: 527px;
}
/* efecto zoom */

/* Responsive Header */

.containerFooter .col {
  color: #fff;
  transform: translateX(
    50px
  ); /* eliminar para obtener alineacion por default */
}
#GrupoTarjetas .list-group-item:last-child {
  padding-right: 0px;
}
#GrupoTarjetas .list-group-item:last-child img {
  margin-right: 0px;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  img.imagenes {
    margin: 5px 5px 0px 5px;
  }

  .moda {
    margin-right: 50%;
  }
}
@media screen and (max-width: 990px) {
  .btnCarBuy img {
    width: 18px;
    height: 18px;
  }
  img.imagenesResponsive {
    margin: 0 3px;
  }
  a.politica {
    display: block;
  }
  .btnCarBuy .productosCount {
    line-height: 15px;
  }
  div.GaleriaImagenes div.fav,
  div.GaleriaImagenes div.addCarrito {
    opacity: 1;
  }

  header.Desktop {
    display: none;
  }
  .Mobile .navbar-brand {
    margin: 0 auto;
  }
  .Mobile .navbar-brand .dolcelattoLogo {
    margin: 0;
  }
  .informacion .col {
    display: none;
  }
  .informacion .col:last-child {
    display: block;
    text-align: center;
    transform: translateX(2%);
  }
  .containerFooter .tituloSubrayado:after {
    left: 50%;
    margin-left: -24px;
  }
  .derechos img.tarjetas {
    width: 44px;
    height: auto;
    margin: 0;
  }
  .derechos .mobileCards {
    margin: 0 auto !important;
  }
  .derechos .mobileCards .col:first-child .list-group-item {
    padding: 0.5rem 0px !important;
  }
  .derechos p.derechosReservados {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .informacion {
    padding: 15px 0;
  }
  .derechos {
    padding: 7px 0;
  }
  .derechos li.list-group-item {
    background-color: #1c1f33;
    border: #1c1f33;
    padding: 0.5rem 3px !important;
  }
  .containerHeaderMobile {
    background-color: #1c1f33;
    padding-top: 9px;
    padding-bottom: 16px;
    max-width: 100%;
    height: 110px;
  }
  .btnMenu {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    margin-top: 5px;
  }
  .btnCarBuy .productosCount {
    top: -8px;
    right: -11px;
  }
  .Mobile .containerHeaderMobile a:link {
    margin: 0 5px;
  }
  .Mobile .search-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  }
  .media-body-card h6 {
    letter-spacing: -1px;
  }
  .media-body-card {
    width: initial;
  }
  .media {
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .LupaBuscadorMobile {
    margin-bottom: 50%;
    margin-left: 100%;
  }
  .carousel__anterior {
    left: 0;
  }
  .carousel__siguiente {
    right: 0px;
  }
  p.derechosReservados {
    font-size: 10pt;
    line-height: 22px;
    padding: 0 16px;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .LupaBuscadorMobile {
    margin-bottom: 50%;
    margin-right: 100%;
  }
}
@media screen and (max-width: 380px) {
  .LupaBuscadorMobile {
    margin-bottom: 250%;
    margin-right: 100%;
  }
}
@media (min-width: 991px) {
  header.Mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  #carouselMobile {
    display: none;
  }
}
@media (max-width: 767px) {
  #carouselExampleControls {
    display: none;
  }
}

/* FIN Responsive Header */

/* Responsive Footer SERVICIOS*/
@media screen and (min-width: 992px) {
  section.ServiciosMobile {
    display: none;
    padding-left: 800px;
  }
}

@media screen and (max-width: 991px) {
  section.ServiciosDesktop {
    display: none;
  }
}

/* FIN Responsive Footer SERVICIOS*/

@media screen and (max-width: 991px) {
  div.EntreLinea {
    display: none !important;
  }
}
/* Responsive y hide de columnas footer */
/* Responsive encabezado secciones */
@media (max-width: 450px) {
  h5.destacado {
    font-size: 15pt;
    margin-top: 15px;
    margin-bottom: 26px;
  }
}
/* FIN Responsive encabezado secciones */

/* ------------------------ Estilos Carrito.php ---------------------------- */
button.botonCancelar {
  font-size: 2rem;
  background-color: #fff;
  border: 0px;
}
.btnMore,
.btnLess {
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
  border-radius: 16px;
}

.listDataCar li {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.table td {
  vertical-align: middle;
}
.table .pictureDescription {
  width: 50%;
}
.table .columnPrice {
  width: 33%;
}
.table .columnCant {
  width: 33%;
}
.table .columnTotal {
  width: 33%;
}
.resultPrice {
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  text-align: center;
  max-width: 120px;
}
.precio {
  font-weight: bold;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
p.precio {
  margin: 0;
}
p.Precio {
  font-size: 1.1em;
}
p.Titulo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
}
#carritoTotal {
  margin-left: 0px;
}
.TituloTabla,
.subtotal,
.send {
  color: red;
  margin: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.subtotal,
.send {
  font-size: 0.9rem;
}
.breadcrumb-item.active span {
  margin-left: -15px;
}
#cuerpoBody {
  margin-top: 20px;
}
#seccionServiciosCarrito {
  margin-top: 50px;
}
li.mobile {
  transform: translateX(-25px);
}
button#buttonFinalizarCompraCarrito {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 502px) and (max-width: 749px) {
  button#buttonFinalizarCompraCarrito {
    font-size: 1.2rem;
  }
}
@media (min-width: 750px) and (max-width: 991px) {
  section.DetalleProductos {
    margin-left: 20%;
  }
  div#carritoTotal {
    margin-top: 20px;
    margin-left: 100px;
  }
}
@media (min-width: 992px) {
  li.mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  #seccionServiciosCarrito {
    display: none;
  }
  #carritoTotal {
    margin-bottom: 20px;
  }
  a.desktopLi {
    display: none;
  }
  span.checkout {
    display: none;
  }
  #breadcrumbCarrito .breadcrumb-item {
    display: none;
  }
  /*.breadcrumb-item+.breadcrumb-item::before{
        display: none;
    }*/
  input#buscador::placeholder {
    font-size: 8pt;
  }
  div.container ol.breadcrumb {
    background-color: #f8f8f9;
    font-family: "Montserrat";
  }
  .menuBreadCrumb {
    background-color: #f8f8f9;
  }
}
/* ------------------------ Estilos ListadoProductos.php -------------------------- */
aside.filtro {
  float: left;
}
section.Listado {
  float: right;
}
.paginationProducts {
  margin: 25px auto;
}
.tituloPanelFiltroProductos {
  transform: translate(20px, 15px);
  font-family: "Montserrat";
  font-size: 12pt;
  font-weight: bold;
}
span.subFiltros {
  color: red;
  font-family: "Montserrat";
  font-size: 10pt;
  font-weight: 700;
}
span.marcas {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12pt;
}
.card-header {
  background-color: white;
}
nav.rutaNavegacion ol {
  background-color: white;
  font-size: 8pt;
  color: black;
}
#headingOne {
  background-color: white;
}
#headingTwo {
  background-color: white;
}
#headingTwo:hover {
  color: red !important;
}
#collapseOne {
  margin-bottom: -25px;
}
#collapseTwo {
  margin-bottom: -15px;
  margin-top: -15px;
}
#collapseThree {
  margin: -10px 0px -20px 0px;
}
#collapseThree div.card-body a {
  font-family: "Montserrat", sans-serif;
}
#headingThree {
  padding: 0 1.25rem;
}
#headingThree h2 {
  margin: 0;
}
#collapseThree .card-body {
  padding-top: 0.3rem;
}
#Birra:hover {
  color: red;
}
#Vino:hover {
  color: red;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  transform: translateX(-17px);
}
.breadcrumb-item a {
  margin: 0px 2px 0px 2px;
  transform: translateX(-17px);
  font-family: "Montserrat", sans-serif;
}
.titleMobileTable,
.table .descriptionMobile {
  display: none;
}
#accordionExample div.card {
  border: white;
}
#accordionExample .card-header {
  border: 0px;
}
.btnMenuMobile:nth-child(2n + 1) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
#accordionExample {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 25px;
}
.listProducts #accordionExample {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
@media (max-width: 768px) {
  .userActions {
    height: initial;
    margin-top: 10px;
  }
  .formSuscriptions .form-control {
    width: 75%;
  }

  .table button.botonCancelar {
    padding: 0px;
    margin-right: 5px;
  }
  .table td {
    vertical-align: middle;
    padding: 0 4px;
    border: 0px;
  }
  .table .pictureDescription {
    width: initial;
  }
  .table .pictureDescription img {
    border: 1px solid #dee2e6;
    margin: 0px;
  }
  .table .columnPrice,
  .table .columnCant,
  .table .descriptionMobile {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .table .descriptionMobile {
    margin-top: 25px;
  }
  .table .descriptionMobile p {
    font-size: 1rem;
  }
  .table .columnCant {
    margin-bottom: 30px;
  }
  .table .columnPrice {
    border-bottom: 1px solid #dee2e6;
    padding: 0px 0 10px 0;
    margin: 5px 0 7px 0;
  }
  .table p.precio {
    margin: 0 auto;
  }
  .columnCant .input-group {
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -ms-flex-align: initial;
    width: 63%;
  }
  .titleMobileTable {
    display: inline-block;
    margin-right: 18px;
    color: red;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .carUser .col-xl-8 {
    padding: 0px;
  }
  .table .input-group-append,
  .table .input-group-prepend {
    font-size: 1.8rem;
  }
  .table tr {
    border-bottom: 1px solid #dee2e6;
  }
  .table .columnTotal,
  .table thead th,
  .table .media-body {
    display: none;
  }
}
/* ------------------------ Estilos InicioSesion.html / registroUsuario.html -------------------------- */

#inicioSesionRedes {
  max-width: 517px;
  margin: 0 auto 25px auto;
}
#inicioSesionRedes
  #columnaDeRegistro
  form#formInicioYregistro
  div.redesAUTH0
  h2 {
  font-family: "Montserrat", sans-serif;
}
#inicioSesionRedes div.row form#formInicioYregistro div.redesAUTH0 h2 {
  font-family: "Montserrat", sans-serif;
}
div.search input#registroUsuarioPlaceholder::placeholder {
  transform: translateX(-1px);
}
.redesAUTH0 h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 17px;
}
.redesAUTH0 p {
  text-align: center;
}
.imgMobile {
  width: 100%;
}
a.linksNoEresMiembro {
  color: red;
  font-size: 10pt;
}
a.linksNoEresMiembro span.cuentaIniciarSesion {
  font-family: "Montserrat", sans-serif;
  color: #1c1f33;
}
a.linksContrasenia {
  color: red;
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}
label.form-check-label {
  font-size: 11.5pt;
  font-family: "Montserrat", sans-serif;
}
#inicioSesionRedes .form-check-input {
  margin-top: 0.4rem;
}
.rutaNavegacionIniciarSesion {
  font-size: 8pt;
}
.separadorDeOpciones {
  position: relative;
}
.separadorDeOpciones span.letra {
  position: absolute;
  left: 50%;
  top: -12px;
  background-color: white;
  z-index: 1;
  padding: 0px 5px 0px 5px;
}
button#buttonIniciarSesion {
  background-color: #3c5dc9;
  color: white;
  font: bold 11pt/30pt "Montserrat", "Josefin-Sans";
}
.btnForms {
  font: bold 11pt/30pt "Montserrat", "Josefin-Sans";
}
a.linksNoEresMiembro span {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}
.socialSesion {
  overflow: hidden;
}
.socialSesion .btnSocialSesion {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 43px;
  border-radius: 3px;
}
.socialSesion .btnSocialSesion:first-child {
  margin-right: 10px;
  width: calc(50% - 10px);
}
.btnGoogle {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.socialSesion .btnFace {
  background-color: #3b5998;
}
.needs-validation input {
  border-radius: 6px;
}
.formsdolcelatto .customFiledset {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  height: 50px;
  position: relative;
}
.formsdolcelatto legend {
  position: absolute;
  width: initial;
  padding: 0 1rem 0 0.5rem !important;
  margin-left: 0.5rem;
  top: 0.9rem;
  transition: color 1s ease, top 0.4s ease, left 1s ease;
  font-size: 11pt;
  background-color: #fff;
}
.formsdolcelatto input[type="email"],
.formsdolcelatto input[type="password"],
.formsdolcelatto input[type="text"] {
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  height: 100%;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 2;
  background: transparent;
}
input:focus,
input:focus {
  border: 0;
}
legend.above {
  top: -10px;
  z-index: 3;
  color: red;
}
.customFiledset.active {
  border: 1px solid red;
}

.btnBuy {
  background-color: #3c5dc9;
  border: 0px;
  margin: 0.4rem auto;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  font: 700 0.8rem "Montserrat", sans-serif;
  text-transform: uppercase;
}
.btnColorSecundary {
  background: #fff;
  border: 1px solid #3c5dc9;
  color: #3c5dc9;
}
.productDetail img.tarjetas {
  margin: 0;
  padding: 0;
}
.formBuyCar .form-group {
  border-bottom: 1px solid #dee2e6;
  padding: 0.7rem 0;
  margin: 0;
}
.formBuyCar .form-group:last-child {
  border-bottom: 0;
}
.formBuyCar .form-control-label {
  font: 700 0.8rem "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.product-form-price,
.percentOff,
.textSocial,
.cintillo {
  font-weight: 700;
}
.textSocial {
  font-size: 1rem;
  line-height: 1rem;
}
.percentOff {
  color: red;
  font-size: 0.7rem;
}
.cintillo {
  color: red;
  font-size: 0.8rem;
}
.tepuedeInteresar {
  margin-bottom: 45px;
}
.tepuedeInteresar h5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
#carousel-thumb li {
  list-style: none;
  margin-bottom: 15px;
  cursor: pointer;
}
.formCargaDatos {
  margin-bottom: 25px;
}

@media (max-width: 630px) {
  .itemMenu {
    display: none;
  }
  .product-page-thumbs {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
  }
  #carousel-thumb {
    padding-bottom: 7rem;
  }
  #carousel-thumb li {
    display: inline-block;
  }
  #rightMenu {
    padding-bottom: 37%;
  }
  .carousel__elementoSERVICIO:first-child {
    display: none;
  }
  .headerDeFooterSideNav button {
    margin: 6% 0;
  }
  #inicioSesionRedes {
    max-width: 360px;
  }
  .separadorDeOpciones span.letra {
    transform: translateY(-34px);
    margin-left: 45%;
  }
  .linkRecoverUser {
    text-align: center;
    margin-bottom: 15px;
  }
  a.linksNoEresMiembro span,
  a.linksContrasenia {
    color: #1c1f33;
  }
  img.imgDesktop {
    display: none;
  }
  div.search input#registroUsuarioPlaceholderMobile::placeholder {
    transform: translateX(-2px);
  }
  #botonDanger {
    margin-bottom: 10px;
  }
  #suscripcionForm {
    transform: translateX(-1px);
  }
  #ofertasYcomunicaciones {
    font-family: "Montserrat", sans-serif;
  }
  nav.rutaNavegacionIniciarSesion ol.breadcrumb {
    background-color: white;
    font-family: "Montserrat", sans-serif;
  }
  #columnaDeRegistro form#formInicioYregistro div.redesAUTH0 a img.imgMobile {
    transform: translateX(5px);
  }
  #columnaDeRegistro
    form#formInicioYregistro
    div.separadorDeOpciones
    span.letra {
    margin-left: 41%;
  }
  #registroUsuarioBreadcrumb {
    background-color: white;
    font-family: "Montserrat", sans-serif;
  }
  a.linksNoEresMiembro span.cuentaIniciarSesion {
    margin-left: 16%;
  }
  form#suscribirmeFormEnvio {
    transform: translateX(-7px);
  }
}
@media (min-width: 630px) {
  img.imgMobile {
    display: none;
  }
}

/*------------------------------------- cargaDatos.html---------------------------------------- */
div.form-group div.form-check label.form-check-label {
  font-family: "Montserrat", sans-serif;
}
