<footer class="footer-site">
    <div class="suscripcion">
      <!-- Footer primer nivel -->
      <div class="container">
          <div class="row align-items-center">
            <div class="col-md-10">
              <form class="d-flex formSuscriptions">
                <input id="buscador" class="form-control me-2" type="search"
                  placeholder="¡Suscribite y accedé a todas las novedades!" size="50">
                <button id="botonDanger" class="btn btn-lg" type="submit">SUSCRIBIRME</button>
              </form>
            </div>
            <div class="col-md-2">
              <ul class="list-group list-group-horizontal justify-content-center" id="GrupoRedes">
                <li class="list-group-item">
                  <a href="#">
                    <img src="./img/iconos/Facebook.png" alt="icono-facebook" width="40px" height="40px">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img src="./img/iconos/Instagram.png" alt="icono-instagram" width="40px" height="40px">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img src="./img/iconos/Twitter.png" alt="icono-twitter" width="40px" height="40px">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img src="./img/iconos/YouTube.png" alt="icono-youtube" width="40px" height="40px">
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="informacion">
      <!-- Footer segundo nivel -->
      <div class="container containerFooter">
        <div class="row">
          <div class="col">
            <h4 class="tituloSubrayado">Mas información</h4>
            <ul>
              <li><a href="#">Proceso de compra</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Privacidad</a></li>
              <li><a href="#">Defensa del consumidor</a></li>
            </ul>
          </div>
          <div class="col">
            <h4 class="tituloSubrayado">Categorias</h4>
            <ul>
              <li><a href="#">Helados</a></li>
              <li><a href="#">Postres</a></li>
              <li><a href="#">Paletas</a></li>
              <li><a href="#">Promociones</a></li>
            </ul>
          </div>
          <!--<div class="col">
            <h4 class="tituloSubrayado">Marcas</h4>
            <ul>
              <li><a href="#">Antarez</a></li>
              <li><a href="#">Aranjuez</a></li>
              <li><a href="#">Fuller's</a></li>
              <li><a href="#">Baltika</a></li>
              <li><a href="#">Todas</a></li>
            </ul>
          </div> -->
          <div class="col">
            <h4 class="tituloSubrayado">Contacto</h4>
            <ul>
              <li>Ventas: +54 9 11 6796-9503</li>
              <li>Reclamos: +54 9 11 6796-9503</li>
              <li><a href="@mailto:info@dolcelatto-helados.com.ar">info@dolcelatto-helados.com.ar</a></li>
            </ul>
          </div>
        </div>      
      </div>
    </div>
    <div class="derechos"> <!-- Footer tercer nivel -->
      <div class="container containerFooter">
        <div class="row align-items-center ">
          <div class="col-lg-6">  
            <p class="derechosReservados">© dolcelatto 2021 . Todos los derechos reservados.
              <a class="politica" href="#"> Conoce nuestra Política de privacidad.</a>
            </p>
          </div>
          <div class="row ml-auto mobileCards">
            <div class="col">
              <li class="list-group-item">
                <a href="#">
                    <img src="./img/iconos/Icon_feather-lock.png">
                    <span class="compraSegura"> COMPRA SEGURA</span>
                </a>
              </li>
            </div>          
            <div class="col">
              <ul class="list-group list-group-horizontal" id="GrupoTarjetas">            
                <li class="list-group-item">
                  <a href="#">
                    <img class="tarjetas" src="./img/iconos/tarjeta-visa.png" alt="tarjeta-visa">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img class="tarjetas" src="./img/iconos/Mastercard.png" alt="tarjeta-mastercard">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img class="tarjetas" src="./img/iconos/AmericanExpress.png" alt="tarjeta-americanexpress">
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <img class="tarjetas" src="./img/iconos/Dinners.png" alt="tarjeta-dinners">
                  </a>
                </li>
              </ul>
            </div>            
          </div>     
        </div>            
      </div>
    </div>
  </footer>